<%- include ('layout/header.ejs') -%>

<body>
	<form method="post">
		<input type="text" name="title" />
		<br />
		<input type="text" name="body" />
		<input type="submit" value="submit" />
	</form>
	<%- include ('layout/footer.ejs') -%>